body, html {
	background-color: #f6f6f6;
}

#painting {
	width: 400px;
	height: 400px;
	background-color: #fff4db;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	box-shadow: 2px 3px;
}
#toprow {
	height:290px;
}
#bigredbox{
	width: 290px;
	height: 290px;
}
#moreboxes{
	height: 100px;
	width: 260px;
}
#blackrows {
	height: 290px;
	width: 10px;
}
#divider2{
	height: 10px;
	width: 100px;
}
#blackrows3{
	height:10px;
	width: 400px;
}
#blackrows4{
	height:100px;
	width:10px;
}
#blackrows5{
	height:10px;
	width:20px;
}
#topleftcolumn{
	height: 290px;
	width: 100px;
}
#bottomrow{
	height: 110px;
	width: 400px;
}
.red{
	background-color: #ff0000
}
.right{
	float: right;
}
.blue{
	background-color: #0000ff
}
.yellow{
	background-color: #ffff00
}
.black{
	background-color: #000000
}
.left{
	float: left;
}
.mediumbox{
	height:140px;
	width:100px;
	background-color:#fff4db;
}
#bottomsmallbox{
	height: 100px;
	width: 100px;
}
.smallbox{
	height:45px;
	width: 20px;
}